<div class="h-auto w-full text-center text-white">
  <h1 class="text-2xl font-bold py-4">Appointment List</h1>
  <div class="flex justify-center"></div>

  <div>
    <input
      [(ngModel)]="newAppointmentTitle"
      type="text"
      class="border-2 text-black border-gray-300 rounded-lg p-2 m-2"
      name="Description"
      id=""
      placeholder="Description"
    />
    <input
      [(ngModel)]="newAppointmentDate"
      class="border-2 text-black border-gray-300 rounded-lg p-2 m-2"
      type="date"
      name="Date"
      id=""
    />
    <button
      (click)="addAppointment()"
      class="h-10 bg-amber-500 w-40 rounded-lg"
    >
      Save
    </button>
  </div>
  <div>
    <div *ngFor="let appointment of appointments">
      <div class="flex justify-center">
        <div class="border-2 border-gray-300 rounded-lg p-4 m-2 w-1/3">
          <h2 class="text-black font-bold">{{ appointment.title }}</h2>
          <p class="text-gray-700">{{ appointment.date | date }}</p>
          <!-- <button
                (click)="deleteAppointment(appointment)"
                class="bg-red-500 text-white rounded-lg px-4 py-2 mt-2"
            >
                Delete
            </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
